<?xml version="1.0" encoding="utf-8"?>
<LayoutRoot xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <RootPanel Orientation="Horizontal">
    <LayoutAnchorablePane DockWidth="298" FloatingWidth="300" FloatingHeight="500" FloatingLeft="-96" FloatingTop="576">
      <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Marx Object Tree" IsSelected="True" ContentId="MarxObjectTree" FloatingLeft="-96" FloatingTop="576" FloatingWidth="300" FloatingHeight="500" LastActivationTimeStamp="02/03/2017 20:36:55" PreviousContainerId="cb115831-8e86-45dc-9deb-619e168dceea" PreviousContainerIndex="4" />
      <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Image Control Tree" ContentId="ImageControlTree" FloatingTop="560" FloatingWidth="300" FloatingHeight="500" LastActivationTimeStamp="02/03/2017 20:36:54" PreviousContainerId="cb115831-8e86-45dc-9deb-619e168dceea" PreviousContainerIndex="4" />
    </LayoutAnchorablePane>
    <LayoutDocumentPaneGroup Orientation="Horizontal" IsMaximized="True">
      <LayoutDocumentPane ShowHeader="False">
        <LayoutDocument Title="GameScene" IsSelected="True" IsLastFocusedDocument="True" ContentId="hwndPlaceholder" CanClose="False" CanFloat="False" LastActivationTimeStamp="02/03/2017 20:36:38" />
      </LayoutDocumentPane>
    </LayoutDocumentPaneGroup>
    <LayoutAnchorablePane Id="cb115831-8e86-45dc-9deb-619e168dceea" DockWidth="300" FloatingHeight="500">
      <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Piece List" IsSelected="True" ContentId="PieceListTool" LastActivationTimeStamp="02/03/2017 20:37:01" />
      <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="UI Object List" ContentId="UIObjectList" LastActivationTimeStamp="02/03/2017 20:36:56" />
      <LayoutAnchorable CanHide="False" AutoHideWidth="240" AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Property" ContentId="Property" CanClose="False" LastActivationTimeStamp="02/03/2017 20:36:52" />
      <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="File Stats" ContentId="FileStatsTool" LastActivationTimeStamp="02/03/2017 20:37:00" />
    </LayoutAnchorablePane>
  </RootPanel>
  <TopSide />
  <RightSide />
  <LeftSide />
  <BottomSide />
  <FloatingWindows />
  <Hidden />
</LayoutRoot>