<?xml version="1.0" encoding="utf-8"?>
<LayoutRoot xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <RootPanel Orientation="Horizontal">
    <LayoutAnchorablePane DockWidth="200">
      <LayoutAnchorable CanHide="False" AutoHideWidth="240" AutoHideMinWidth="100" AutoHideMinHeight="100" Title="UI Object" ContentId="UI" CanClose="False" LastActivationTimeStamp="02/03/2017 00:28:34" />
      <LayoutAnchorable CanHide="False" AutoHideWidth="240" AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Scene Object" IsSelected="True" ContentId="UI" CanClose="False" LastActivationTimeStamp="02/03/2017 00:28:34" />
    </LayoutAnchorablePane>
    <LayoutDocumentPaneGroup Orientation="Horizontal" IsMaximized="True">
      <LayoutDocumentPane ShowHeader="False">
        <LayoutDocument Title="GameScene" IsSelected="True" IsLastFocusedDocument="True" ContentId="hwndPlaceholder" CanClose="False" CanFloat="False" LastActivationTimeStamp="02/03/2017 02:00:20" />
      </LayoutDocumentPane>
    </LayoutDocumentPaneGroup>
    <LayoutAnchorablePane Id="b2b83885-8138-444f-932e-d7f13a6ce128" DockWidth="300">
      <LayoutAnchorable CanHide="False" AutoHideWidth="240" AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Asset" IsSelected="True" ContentId="Asset" CanClose="False" LastActivationTimeStamp="02/03/2017 02:00:25" />
      <LayoutAnchorable CanHide="False" AutoHideWidth="240" AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Atlas Asset" ContentId="Atlas Asset" CanClose="False" LastActivationTimeStamp="02/03/2017 02:00:25" />
      <LayoutAnchorable CanHide="False" AutoHideWidth="240" AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Property" ContentId="Property" CanClose="False" LastActivationTimeStamp="02/03/2017 02:00:24" />
    </LayoutAnchorablePane>
  </RootPanel>
  <TopSide />
  <RightSide />
  <LeftSide />
  <BottomSide />
  <FloatingWindows />
  <Hidden>
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="File Stats" IsSelected="True" ContentId="FileStatsTool" LastActivationTimeStamp="02/03/2017 02:00:16" PreviousContainerId="b2b83885-8138-444f-932e-d7f13a6ce128" PreviousContainerIndex="3" />
  </Hidden>
</LayoutRoot>